<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.OrderMapper">

  <insert id="insertOrder" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO orders (user_id)
    VALUES (#{userId})
  </insert>

  <insert id="insertOrderItems">
    INSERT INTO order_items (order_id, product_id, name, price, quantity)
    VALUES
    <foreach collection="list" item="item" separator=",">
      (#{item.orderId}, #{item.productId}, #{item.name}, #{item.price}, #{item.quantity})
    </foreach>
  </insert>

    <select id="findHistoryByUserId" resultType="com.example.entity.OrderHistoryRow">
    SELECT
      o.id AS order_id,
      o.created_at,
      oi.name AS product_name,
      oi.price,
      oi.quantity,
      (oi.price * oi.quantity) AS subtotal
    FROM orders o
    INNER JOIN order_items oi ON o.id = oi.order_id
    WHERE o.user_id = #{userId}
    ORDER BY o.id DESC, oi.id ASC
  </select>

</mapper>